main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

.rating {
  padding-bottom: 1rem;
}

.rating span {
  margin: 0.1rem;
}

.carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50%;
  }
}
